<div class="row">
	<div class="col-sm-6">
		<div class="form-group">
	        <label for="dataentrega" id="dataentrega">Data de entrega</label>
	        <input id="dataentrega" name="dataentrega" class="form-control" type="date" placeholder="dd/mm/yyyy" />
        </div>
	</div>

	<div class="col-sm-6">
		<div class="form-group">
			<label for="idfase">Fase</label>
			<select id="idfase" name="idfase" class="form-control" size="1">
				<option value="">Selecione...</option>
				<% for (let i = 0; i < fases.length; i++) { %>
				<option value="<%= fases[i].id %>"><%= fases[i].nome %></option>
				<% } %>
			</select>
		</div>
	</div>
</div>

<%- contentFor("scripts") %>
<script type="text/javascript">

</script>
