<div class="row">

	<!-- Earnings (Monthly) Card Example -->
	<div class="col-xl-3 col-md-6 mb-4">
		<div class="card border-left-primary shadow h-100 py-2">
			<div class="card-body">
				<div class="row no-gutters align-items-center">
					<div class="col mr-2">
						<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
							O que é composto aqui?</div>
						<div class="h5 mb-0 font-weight-bold text-gray-800">$40,000</div>
					</div>
					<div class="col-auto">
						<i class="fas fa-calendar fa-2x text-gray-300"></i>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Earnings (Monthly) Card Example -->
	<div class="col-xl-3 col-md-6 mb-4">
		<div class="card border-left-success shadow h-100 py-2">
			<div class="card-body">
				<div class="row no-gutters align-items-center">
					<div class="col mr-2">
						<div class="text-xs font-weight-bold text-success text-uppercase mb-1">
							Earnings (Annual)</div>
						<div class="h5 mb-0 font-weight-bold text-gray-800">$215,000</div>
					</div>
					<div class="col-auto">
						<i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Earnings (Monthly) Card Example -->
	<div class="col-xl-3 col-md-6 mb-4">
		<div class="card border-left-info shadow h-100 py-2">
			<div class="card-body">
				<div class="row no-gutters align-items-center">
					<div class="col mr-2">
						<div class="text-xs font-weight-bold text-info text-uppercase mb-1">Tasks
						</div>
						<div class="row no-gutters align-items-center">
							<div class="col-auto">
								<div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>
							</div>
							<div class="col">
								<div class="progress progress-sm mr-2">
									<div class="progress-bar bg-info" role="progressbar"
										style="width: 50%" aria-valuenow="50" aria-valuemin="0"
										aria-valuemax="100"></div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-auto">
						<i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Pending Requests Card Example -->
	<div class="col-xl-3 col-md-6 mb-4">
		<div class="card border-left-warning shadow h-100 py-2">
			<div class="card-body">
				<div class="row no-gutters align-items-center">
					<div class="col mr-2">
						<div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
							Pending Requests</div>
						<div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
					</div>
					<div class="col-auto">
						<i class="fas fa-comments fa-2x text-gray-300"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="row">

	<!-- Content Column -->
	<div class="col-lg-6 mb-4">

		<div class ="Slides">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<style>
			* {box-sizing: border-box;}
			body {font-family: Verdana, sans-serif;}
			.mySlides {display: none;}
			img {vertical-align: middle;}
		
			/* Slideshow container */
			.slideshow-container {
			  max-width: 1000px;
			  position: relative;
			  margin: auto;
			}
		
			/* Caption text */
			.text {
			  color: #f2f2f2;
			  font-size: 15px;
			  padding: 8px 12px;
			  position: absolute;
			  bottom: 8px;
			  width: 100%;
			  text-align: center;
			}
		
			/* Number text (1/3 etc) */
			.numbertext {
			  color: #f2f2f2;
			  font-size: 12px;
			  padding: 8px 12px;
			  position: absolute;
			  top: 0;
			}
		
			/* The dots/bullets/indicators */
			.dot {
			  height: 15px;
			  width: 15px;
			  margin: 0 2px;
			  background-color: #bbb;
			  border-radius: 50%;
			  display: inline-block;
			  transition: background-color 1.0s ease;
			}
		
			.active {
			  background-color: #717171;
			}
		
			/* Fading animation */
			.fade {
			  animation-name: fade;
			  animation-duration: 2.0s;
			}
		
			@keyframes fade {
			  from {opacity: .4} 
			  to {opacity: 1}
			}
		
			/* On smaller screens, decrease text size */
			@media only screen and (max-width: 300px) {
			  .text {font-size: 11px}
			}
			</style>
			</head>
			<body>
		
			<h2>Novidades TECH</h2>
			<p>Aqui você vê as principais noticias:</p>
		
			<div class="slideshow-container">
		
			<div class="mySlides fade">
			  <div class="numbertext">1 / 3</div>
			  <a href="https://olhardigital.com.br/2022/09/07/reviews/apple-lanca-iphone-14-pro-e-14-pro-max-com-dynamic-island-a16-bionic-e-novas-cameras/" target="_blank">
			  	<img src="https://img.olhardigital.com.br/wp-content/uploads/2022/09/iphone_14_pro_2-1024x576.jpg" style="width:100%">
			  </a>
			  <div class="text">O novo Iphone 14</div>
			</div>
		
			<div class="mySlides fade">
			  <div class="numbertext">2 / 3</div>
			  <a href="https://www.businesswire.com/news/home/20220831005237/en/Palantir-Announces-Partnership-with-Beckett-Collectibles" target="_blank">
			  	<img src="https://unboxingstartups.com/wp-content/uploads/2021/11/Palantir-Technologies-is-a-Public-American-Software-Company-That-Specializes-in-Big-Data-Analytics.jpg" style="width:100%">
			  </a>
			  <div class="text">Grande Startup fechando negocios</div>
			</div>
		
			<div class="mySlides fade">
			  <div class="numbertext">3 / 3</div>
			  <a href="https://istoe.com.br/tiktok-e-black-rocks-startups-confirmam-participacao-no-befly-tech-day/" target="_blank">
				<img src="https://cdn.panrotas.com.br/portal-panrotas-statics/media-files-cache/316268/2221eea8254b78dde6c5bba87640b8b8whatsappimage20211028at17.25.32/203,91,890,531/1206,720,0.56/0/default.jpeg" style="width:100%">
			  </a>
			  <div class="text">O TECH day</div>
			</div>
		
			</div>
			<br>
		
			<div style="text-align:center">
			  <span class="dot"></span> 
			  <span class="dot"></span> 
			  <span class="dot"></span> 
			</div>
		
			<script>
			let slideIndex = 0;
			showSlides();
		
			function showSlides() {
			  let i;
			  let slides = document.getElementsByClassName("mySlides");
			  let dots = document.getElementsByClassName("dot");
			  for (i = 0; i < slides.length; i++) {
				slides[i].style.display = "none";  
			  }
			  slideIndex++;
			  if (slideIndex > slides.length) {slideIndex = 1}    
			  for (i = 0; i < dots.length; i++) {
				dots[i].className = dots[i].className.replace(" active", "");
			  }
			  slides[slideIndex-1].style.display = "block";  
			  dots[slideIndex-1].className += " active";
			  setTimeout(showSlides, 2000); // Change image every 2 seconds
			}
			</script>
		</div>
		<!-- Color System -->
		<div class="row">
			<div class="col-lg-6 mb-4">
				<div class="card bg-primary text-white shadow">
					<div class="card-body">
						Primary
						<div class="text-white-50 small">#4e73df</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6 mb-4">
				<div class="card bg-success text-white shadow">
					<div class="card-body">
						Success
						<div class="text-white-50 small">#1cc88a</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6 mb-4">
				<div class="card bg-info text-white shadow">
					<div class="card-body">
						Info
						<div class="text-white-50 small">#36b9cc</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6 mb-4">
				<div class="card bg-warning text-white shadow">
					<div class="card-body">
						Warning
						<div class="text-white-50 small">#f6c23e</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6 mb-4">
				<div class="card bg-danger text-white shadow">
					<div class="card-body">
						Danger
						<div class="text-white-50 small">#e74a3b</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6 mb-4">
				<div class="card bg-secondary text-white shadow">
					<div class="card-body">
						Secondary
						<div class="text-white-50 small">#858796</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6 mb-4">
				<div class="card bg-light text-black shadow">
					<div class="card-body">
						Light
						<div class="text-black-50 small">#f8f9fc</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6 mb-4">
				<div class="card bg-dark text-white shadow">
					<div class="card-body">
						Dark
						<div class="text-white-50 small">#5a5c69</div>
					</div>
				</div>
			</div>
		</div>

	</div>

	<div class="col-lg-6 mb-4">

		<!-- Calendario -->
		<div class="FullCalendar">
			<div class="calendar">
				<div class="calendar__picture">
				  <h2>5, Segunda</h2>
				  <h3>Setembro</h3>
				</div>
				<div class="calendar__date">
				  <div class="calendar__day">M</div>
				  <div class="calendar__day">T</div>
				  <div class="calendar__day">W</div>
				  <div class="calendar__day">T</div>
				  <div class="calendar__day">F</div>
				  <div class="calendar__day">S</div>
				  <div class="calendar__day">S</div>
				  <div class="calendar__number"></div>
				  <div class="calendar__number"></div>
				  <div class="calendar__number"></div>
				  <div class="calendar__number">1</div>
				  <div class="calendar__number">2</div>
				  <div class="calendar__number">3</div>
				  <div class="calendar__number">4</div>
				  <div class="calendar__number calendar__number--current">5</div>
				  <div class="calendar__number">6</div>
				  <div class="calendar__number">7</div>
				  <div class="calendar__number">8</div>
				  <div class="calendar__number">9</div>
				  <div class="calendar__number">10</div>
				  <div class="calendar__number">11</div>
				  <div class="calendar__number">12</div>
				  <div class="calendar__number">13</div>
				  <div class="calendar__number">14</div>
				  <div class="calendar__number">15</div>
				  <div class="calendar__number">16</div>
				  <div class="calendar__number">17</div>
				  <div class="calendar__number">18</div>
				  <div class="calendar__number">19</div>
				  <div class="calendar__number">20</div>
				  <div class="calendar__number">21</div>
				  <div class="calendar__number">22</div>
				  <div class="calendar__number">23</div>
				  <div class="calendar__number">24</div>
				  <div class="calendar__number">25</div>
				  <div class="calendar__number">26</div>
				  <div class="calendar__number">27</div>
				  <div class="calendar__number">28</div>
				  <div class="calendar__number">29</div>
				  <div class="calendar__number">30</div>
				</div>
			  </div>
			</div>

		<!-- Approach -->
		<div class="card shadow mb-4">
			<div class="card-header">
				Development Approach
			</div>
			<div class="card-body">
				<p>SB Admin 2 makes extensive use of Bootstrap 4 utility classes in order to reduce
					CSS bloat and poor page performance. Custom CSS classes are used to create
					custom components and custom utility classes.</p>
				<p class="mb-0">Before working with this theme, you should become familiar with the
					Bootstrap framework, especially the utility classes.</p>
			</div>
		</div>

	</div>
</div>

<%- contentFor("scripts") %>

<script src="<%- staticRoot %>/lib/chart.js/chart.min.js"></script>
<script src="<%- staticRoot %>/js/exemplo/chart-area.js"></script>
<script src="<%- staticRoot %>/js/exemplo/chart-pie.js"></script>
