<div class="row">
	<div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
	<div class="col-lg-6">
		<div class="p-5">
			<div class="text-center">
				<h1 class="h4 text-gray-900 mb-4">Gerenciamento de PGT</h1>
			</div>
			<div class="user">
				<% if (mensagem) { %>
				<div class="alert alert-danger"><%= mensagem %></div>
				<% } %>

				<a href="<%- ssoRedir %>" class="btn btn-primary btn-user btn-block">
					Login
				</a>
			</div>
		</div>
	</div>
</div>
