<div class="row">
	<div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
	<div class="col-lg-6">
		<div class="p-5">
			<div class="mb-4 text-center">
				<img style="width: 100%; max-width: 250px;" alt="Logo" src="<%- staticRoot %>/img/logo.png" />
			</div>
			<div class="user">
				<% if (mensagem) { %>
				<div class="alert alert-danger"><%= mensagem %></div>
				<% } %>

				<a href="<%- ssoRedir %>" class="btn btn-primary btn-user btn-block">
					Login
				</a>
			</div>
		</div>
	</div>
</div>
