
        <!-- Area Chart -->
        <div class="card shadow mb-4">
			<div class="card-body">
				<div>
					<object
						data="<%- staticRoot %>/Regulamento_PGT.pdf"
						type="application/pdf"
						max-width="100%"
						width="990"
						max-height="auto"
						height="1028"
					>
					  <iframe
						src="<%- staticRoot %>/Regulamento_PGT.pdf"
						max-width="100%"
						width="990"
						max-height="auto"
						height="1028"
					  >
					  <p>This browser does not support PDF!</p>
					  </iframe>
					</object>
				  </div>
			</div>
		</div>


